<%= form.text_field :title, data: (@post.new_record?? {slugify: true} : nil) %>
<%= form.text_field :slug, :id => 'slug', :data => {:slug => true} %>
<%= form.text_field :author %>
<% if Blog::Tag.categories.present? %>
  <fieldset style="border:1px solid #CCCCCC !important; padding:5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; -moz-box-sizing: border-box; outline: medium none; border-radius: 4px 4px 4px 4px;">
  <%= form.simple_field t('comfy_blog.categories') do %>
    <% Blog::Tag.categories.each do |category| %>
      <%= hidden_field_tag "post[category_ids][#{category.id}]", 0, :id => nil %>
      <label for="category_<%= category.id %>" style='display:inline; margin-right:0.5em;'>
        <%= check_box_tag "post[category_ids][#{category.id}]", 1, @post.category_ids[category.id.to_s].to_i == 1, :id => "category_#{category.id}" %>
        <%= category.name %>
      </label>
    <% end %>
  <% end %>
  </fieldset>
<% end %>
<br/>
<%= form.text_field :tag_names, :label => link_to(t('comfy_blog.tags'), admin_blog_tags_path) %>
<p class="help"><%= t 'comfy_blog.tag_names_hint' %></p>

<%= form.select :image_id, Cms::File.all.map { |i| [i.file_file_name, i.id] } %>
<div class="thumb">
  <%= image_tag @post.image.file.url(:blog_thumb) if @post.image%>
</div>

<%= form.text_area :excerpt, :data => { :rich_text => true }, :class => 'short' %>
<%= form.text_area :content, :data => { :rich_text => true } %>
<%= form.text_field :published_at, :class => 'datetime', :data => { :datetime => true } %>
<p class="help"><%= t 'comfy_blog.post_published_at_hint' %></p>

<% if defined?(ComfortableMexicanSofa) %>
  <% content_for :right_column do %>
    <%= render :partial => 'cms/admin/files/index' %>
  <% end %>
  
  <%= cms_hook :blog_post, :locals => { :form => form } %>
  
  <%= form.simple_field nil, nil, :class => 'submit_element' do %>
    <%= form.check_box :is_published, :disable_builder => true %>
    <%= form.label :is_published %>
    <%= form.submit @post.new_record?? t('comfy_blog.create_post') : t('comfy_blog.update_post'), :disable_builder => true %>
  <% end %>
  
<% else %>
  <%= form.check_box :is_published %>
  <%= form.submit @post.new_record?? t('comfy_blog.create_post') : t('comfy_blog.update_post') %>
<% end %>

